*{box-sizing: border-box;
margin: 0;padding: 0;
}
:root{
    --primary-:#1f242d;
    --text1-:rgb(0, 247, 247);
    --backg2--:#323946;
    --text-:white;
}
body{background-color: var(--primary-);    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.nav-bar{display: flex;flex-direction: column;
    padding-top: 6px;z-index: 100;
    
}
.logo{color: white;text-transform: capitalize;font-size: 2.4rem;
}
.logo span{color: var(--text1-);text-transform: capitalize;
}
.nav-bar ul{display: flex;padding-top: 7px;
    list-style: none;gap: 30px;padding-left: 56px;
}
.nav-bar a{text-decoration: none;color: white;font-size: 2rem;text-transform: capitalize;
    transition: all 0.5s ease-in;
}
.nav-bar ul a:hover{color: var(--text1-);
}
/* home ka */
.home-in{padding: 200px 120px 0px;
        background: url('https://via.placeholder.com/1920x1080') no-repeat; /* Halkan sawir dambe ka gasho */
background-size: cover;background-position: center;
}
.dhax{
color: white;display: flex;flex-direction: column;
}
.dhax :first-child{font-size: 4.4rem;
}
.dhax :nth-child(2){font-size: 5.5rem;text-transform: capitalize;padding: 10px 0px;
}
.dhax :nth-child(3){font-size: 4.3rem;text-transform: capitalize;color: var(--text1-);font-weight: bold;
}
#single{padding-top: 40px;font-size: 2rem;
}
#single + li{font-size: 2rem;
}
/*button */
.dhax button{background-color: var(--text1-);border: none;padding: ;
font-size: 1.4rem;text-transform: capitalize;margin-bottom: 40px;
box-shadow: 0 0 1rem var(--text1-);letter-spacing: 2px;transition: .5s ease all;
width: 250px;text-align: center;margin-top: 40px;padding: 16px 26px;border-radius: 20px;
}
.dhax button:hover{box-shadow: none;
}

/* second page */
.container1{background-color: var(--backg2--);
padding: 190px 0px 0px;
}
.box{text-align: center;
}
.box h1 li{color: var(--text1-);
}
.box h1{font-size: 4.5rem;text-transform: capitalize;color: white;font-weight: bold;
}
.box :nth-child(2){font-size: 2.6rem;color: white;font-weight: bold;
    padding: 3rem 0 0rem;line-height: 3;
}
.box :nth-child(3){color: white;text-align: center;
    display: flex;flex-direction: column;font-size: 1.5rem;gap: 20px;
}
.box div::first-letter{text-transform: uppercase;
}
/* ulka */
.container1 #list{text-align: center;
    padding: 50px 0 29px;
}
#list :nth-child(1){text-transform: uppercase;
}
#list :nth-child(2){text-transform: uppercase;
}
#list :nth-child(4){text-transform: capitalize;
}
.list-item{background: var(--primary-);border-radius: 1.25rem;font-size: 26px;
color: white;border: 1px solid var(--text1-);padding: 8px 27px;margin-left: 1rem;
}

/* apge 3 */
.service{color: white;padding-bottom: 30px;
    list-style: none;padding-top: 100px;
}
.service1{display: flex;gap: 50px;justify-content: center;
}
#link-one span{color: var(--text1-);
}
#link-one{text-align: center;text-transform: capitalize;padding-bottom: 50px;font-size: 4rem;
}
/* 1 */
.macaamiil{background-color: var(--backg2--);border-radius: 2.6rem;width: 300px;transition: all .1s;
text-align: center;flex-shrink: 3;padding: 3rem 3rem;width: 300px;flex: 0 100 auto;
}
.macaamiil :first-child{color: var(--text1-);font-size: 7rem;
}
.macaamiil li + div{font-size: 2.6rem;padding-bottom: 1.25rem;font-weight: bold;
}
.macaamiil p{font-size: 2rem;
}
.macaamiil:hover{border: 4px solid var(--text1-);
}

/* 2 */
.custom{background-color: var(--backg2--);text-align: center;width: 300px;
    flex: 0 1 auto;
    padding: 2rem 2rem;border-radius: 2.6rem;border: 2rem solid transparent;
}
.custom li{color: var(--text1-);font-size: 7rem;
}
.custom li + h3{font-size: 2.6rem;text-transform: capitalize;padding-bottom: 1.25rem;
}
.custom span{font-size: 2rem;line-height: 1.3;
}

/* 3 */
.xog{background-color: var(--backg2--);text-align: center;width: 300px;
border-radius: 2rem;padding: 3rem 2rem;flex: 0 10 auto;
}
.xog li{color: var(--text1-);font-size: 7rem;
}
.xog span{text-transform: capitalize;font-size: 2.6rem;
    display: inline-block;padding-bottom: 1.25rem;padding-top: 10px;
}
.xog footer{font-size: 2rem;line-height: 1.3;
}

/* portfolio */
.portfol{background-color: var(--backg2--);color: var(--text-);
    padding: 100px 0px 20px;
}
.portfol h1{text-align: center;text-transform: capitalize;font-size: 4rem;
}
.portfol h1 span{color: var(--text1-);
}
.porto{display: grid;grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
gap: 2rem;padding-top: 80px;
}
/* 1 */
.box-port1{background-color: var(--primary-);
    padding: 2rem;border-radius: 1rem;
}
.box-port1 h3{color: var(--text1-);font-size: 2.2rem;font-weight: bold;text-transform: capitalize;
}
.box-port1 p{font-size: 1.4rem;
}

/* 2 */
#box-port2{background-color: var(--primary-);
    padding: 2rem;border-radius: 1rem;position: relative;
}
#box-port2 h3{color: var(--text1-);line-height: 0;text-transform: capitalize;font-size: 2.2rem;
    line-height: 1.6;
}
#box-port2 p{font-size: 1.4rem;
}
#box-port2 p::first-letter{text-transform: uppercase;
}

/* 3 */
.box-port3{background-color: var(--primary-);
    padding: 2rem;border-radius: 1rem;
}
.box-port3 h3{color: var(--text1-);font-size: 2.2rem;padding-top: 50px;text-transform: capitalize;
}
.box-port3 p{font-size: 1.4rem;
}